@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-extra-bold;
  src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-light;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

.pop {
  font-family: poppins;
}
.pop-sm {
  font-family: poppins-medium;
}
.pop-b {
  font-family: poppins-bold;
}
.pop-eb {
  font-family: poppins-extra-bold;
}
.pop-l {
  font-family: poppins-light;
}
